@import url('https://fonts.googleapis.com/css2?family=Montserrat:ght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #c5fe27;
    /* --line-active: #275EFE; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.audio {
    margin-top: 60px;
    position: relative;
    z-index: 333;
}

header {
    position: fixed;
    background: rgba(255, 255, 255, .1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 333;
    transition: .5s ease;
}

header.sticky {
    background: crimson;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 100px;
    padding-right: 100px;
}

header .brand {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

.item__link {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 30px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
    transition: all .5s ease;
    z-index: 999;
    display: inline-block;
    position: relative;
    margin: 0 var(--spacing, 0px);
    transition: margin .25s;
    /* color: inherit; */
}


/* inherit - Ключевое слово, которое сообщает, что необходимо наследовать значение свойства у родительского элемента. Естественно, результат будет заметен только в том случае, если у родителя указанное свойство установлено */

.item__link svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
}

.item__link svg:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: .1s;
    --offset: 180px;
}


canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.main .content {
    max-width: 800px;
    width: 100%;
}

.main__content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.main__content-h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 500px;
    z-index: 333;
    position: relative;
}

.main__content-h2 span {
    font-size: 60px;
    font-weight: 600;
    z-index: 333;
}

.animated-text {
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 333;
}

.animated-text h3 {
    color: crimson;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -70px;
    }

    50% {
        margin-top: -140px;
    }

    75% {
        margin-top: -70px;
    }

    100% {
        margin-top: 0;
    }
}

.btn {
    color: #fff;
    background: crimson;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 30px 0;
    transition: .5s ease;
    position: relative;
    z-index: 333;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.media-icons a {
    font-size: 25px;
}

.fa-spin:hover::before {
    display: inline-block;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#instagram,
#telegram,
#github,
#facebook {
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
        2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 8px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
    z-index: 333;
    position: relative;
}

#telegram {
    animation-delay: 0.3s;
}

#facebook {
    animation-delay: 0.7s;
}

#github {
    animation-delay: 0.1s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    position: relative;
    color: crimson;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
    cursor: pointer;
}

.blue {
    position: relative;
    color: crimson;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
    cursor: pointer;
}

.section-title::before {
    content: '';
    display: block;
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: crimson;
    transform: translateX(-50%);
}

.section-title::after {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: crimson;
    transform: translateX(-50%);
}

.about {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.about__column {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about__column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 45%;
}

.about__column-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
}

.about__column-select_tabs {
    display: flex;
    flex-direction: column;
}

.about__column-select_text {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 2px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 7px 0;
    transition: .5s ease;
    position: relative;
    z-index: 333;
}

button:hover {
    box-shadow: 0px 3px 10px 10px rgb(255, 255, 255, 0.3);
}

.about__column-select_namePhoto {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 3px;
    border: none;
    margin-bottom: 3px;
    transition: all 800ms ease;
    padding: 10px;
    background-color: rgb(220, 20, 60);
    border-radius: 4px;
    cursor: pointer;
}

.about__column-select_namePhoto:hover {
    /* transform: translate(5px); */
    background-color: #fff;
    color: #000;
    transform: translate(0, 1px);
}

.about__column-img_card {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.about__column-img_card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about__column-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.about__column-select {
    padding: 10px;
    background-color: rgba(65, 39, 45, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 60%;
    width: 100%;
    border-radius: 6px;
    margin-top: -8px;
    z-index: 677;
}

.paragraph-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}


.skills {
    background: #000016;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.skills .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}

.skills .col-left {
    position: relative;
    width: 45%;
}

.skills .col-left .content-title {
    margin-bottom: 20px;
}

.skills__content-text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.skills .col-right {
    position: relative;
    width: 45%;
}

.skills .col-right .bar {
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.skills .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .info b {
    font-size: 18px;
    font-weight: 500;
}

.skills .line {
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
}

.skills .line::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills .html::before {
    content: '';
    display: block;
    width: 85%;
    background: #E45126;
}

.skills .css::before {
    content: '';
    display: block;
    width: 75%;
    background: #0c73b8;
}

.skills .javascript::before {
    content: '';
    display: block;
    width: 30%;
    background: #e3a324;
}

.skills .vuejs::before {
    content: '';
    display: block;
    width: 25%;
    background: #30dd6d;
}

.skills .php::before {
    content: '';
    display: block;
    width: 10%;
    background: #6d7eb8;
}

/*  */

.services {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.title p {
    width: 80%;

}

.services .content .card {
    background: #fff;
    width: 300px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
}

.services .card .services-icon {
    color: crimson;
    font-size: 120px;
    text-align: center;
    transition: transform .5s ease;
}

.services .card .services-icon:hover {
    transform: translateY(-10px);
}

.services .card .info {
    text-align: center;
}

.services .card .info h3 {
    color: crimson;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.services__content-text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}

/*/******** * My Work********** */

.work {
    background: #000016;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work .content .card {
    width: 340px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.work .content .card-img {
    position: relative;
    width: 100%;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

.work .content .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: .5s ease;
}

.work .content .card-img img:hover {
    transform: scale(1.2);
}

/************ * Contact me************ */

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.contact .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact .row .card {
    background: #fff;
    width: 270px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
}

.contact .card .contact-icon {
    color: crimson;
    font-size: 60px;
    text-align: center;
    transition: transform .5s ease;
}

.contact .card:hover .contact-icon {
    transform: translateY(-10px);
}

.contact .card .info h3 {
    text-align: center;
    color: #111;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact .card .info a {
    color: #666;
    font-weight: 500;
}

.contact-form {
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}

.contact-form h3 {
    color: #111;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-box .send-btn {
    color: #fff;
    background: crimson;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

.contact-form .input-box .send-btn:hover {
    background: rgb(172, 122, 133);
    color: rgb(252, 250, 250);
}

/*********** footer *************/

.footer {
    background: #000016;
    color: #fff;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 34px;
    padding-right: 34px;
}

.footer .footer-title {
    font-size: 20px;
    font-weight: 600;
}

.footer p {
    font-size: 16px;
    margin-top: 10px;
}

/* **************media************ */

@media (max-width: 1250px) {
    .item__link {
        font-size: 20px;
        padding: 0 10px;
    }
}

@media (max-width: 1050px) {
    .item__link {
        font-size: 18px;
        padding: 0 10px;
    }
}

@media (max-width: 1040px) {

    header .navigation a {
        z-index: 999;
    }

    .main__content-h2 {
        z-index: 1;
    }

    .main__content-h2 span {
        z-index: 1;
    }

    .animated-text {
        position: relative;
        z-index: 1;
    }

    .btn {
        z-index: 1;
    }

    #instagram,
    #telegram,
    #github,
    #facebook {
        z-index: 1;
    }

    .audio {
        z-index: 1;
    }

    header {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 18px;
    }

    header.sticky {
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 10px;
        padding-right: 18px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        z-index: 888;
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        transition: .3s ease;
    }

    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        /* position: absolute;         */
        filter: invert(1);
        z-index: 999;
    }

    .menu-btn.active {
        background-color: rgb(44, 224, 185);
    }

    .menu-btn.active span {
        height: 0;
    }

    .menu-btn.active span::before {
        transform: rotate(45deg);
    }

    .menu-btn.active span::after {
        transform: rotate(-45deg);
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #000;
    }

    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.3s ease;
    }

    .menu-btn span::before {
        content: '';
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        content: '';
        transform: translateY(5px);
    }

    header .navigation a {
        color: #000;
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }

    header .navigation a:hover {
        background: crimson;
        color: #fff;
    }

    section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main .content h2 {
        font-size: 25px;
    }

    .main .content h3 {
        font-size: 35px;
    }

    .section-title {
        font-size: 36px;
    }

    .about__column {
        flex-direction: column;
    }

    .about__column-img_card-img {
        position: relative;
        width: 100%;
    }

    .about__column-left {
        position: relative;
        width: 100%;
    }

    .about__column-right {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    .about__column-select {
        padding: 10px;
        background-color: rgba(65, 39, 45, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        max-width: 50%;
        width: 100%;
        border-radius: 6px;
        margin-top: -20px;
    }

    .skills .content {
        flex-direction: column;
    }

    .skills .content .column {
        position: relative;
        width: 100%;
    }

    .skills .content .col-right {
        margin-top: 40px;
    }

    .contact-form {
        padding-top: 35px;
        padding-bottom: 40px;
    }
}

@media (max-width: 992px) {

    .about__column-select {
        margin-top: -10px;
    }

}

@media (max-width: 768px) {

    .about__column-select {
        margin-top: -40px;
        max-width: 55%;
        width: 100%;
    }

}

@media (max-width: 700px) {

    .about__column-select {
        margin-top: -110px;
        max-width: 55%;
        width: 100%;
    }
}

@media (max-width: 670px) {
    .about__column-select {
        margin-top: -140px;
        max-width: 55%;
        width: 100%;
    }
}

@media (max-width: 650px) {

    .about__column-select {
        margin-top: -160px;
        max-width: 65%;
        width: 100%;
    }
}

@media (max-width: 600px) {

    .about__column-select {
        margin-top: -210px;
        max-width: 65%;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .about__column-img_card {
        position: relative;
        width: 100%;
        min-height: 300px;
    }

    .about {
        padding-top: 100px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 100px;
    }

    .about__column-select {
        max-width: 50%;
        width: 100%;
        height: 17%;
        margin-top: -163px;
    }

    .about__column-select_namePhoto {
        font-size: 12px;
        line-height: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #fff;
    }

    .about__column-select_text {
        font-size: 12px;
        padding: 0;
        margin-top: 0;
    }

    .about__column-img_card-img {
        margin-bottom: 150px;
    }
}

@media (max-width: 500px) {
    .media-icons {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-right: 0;
        padding-bottom: 50px;
        padding-left: 0;
    }

    .main__content-h2 {
        padding: 50px 0px 50px 50px;
        padding-top: 50px;
        padding-right: 0;
        padding-bottom: 50px;
        padding-left: 50px;
    }

    .main__content-h2 span {
        font-size: 50px;
        font-weight: 600;
        z-index: 333;
    }

    .animated-text h3 {
        color: crimson;
        font-size: 38px !important;
        font-weight: 700;
        line-height: 65px;
        letter-spacing: 1px;
    }

    .media-icons {
        display: flex;
        justify-content: center;
    }

    .about {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .cybr-btn {
        display: flex;
        max-width: 180px;
        width: 100%;
        margin: 0 auto 50px auto;
        text-align: center;
    }

    .audio {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .skills {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .services {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .work {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }
}

@media (max-width: 400px) {
    .about__column-select {
        max-width: 50%;
        width: 100%;
        height: 17%;
        margin-top: -160px;
    }
}

@media (max-width: 360px) {
    .about__column-title {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 20px;

    }
}

@media (max-width: 360px) {

    #instagram,
    #telegram {
        margin-bottom: 10px;
    }

    .media-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .main__content {
        padding-top: 50px;
        padding-right: 0px;
        padding-bottom: 50px;
        padding-left: 0px;
    }

    .main__content-h2 {
        padding-top: 50px;
        padding-right: 0px;
        padding-bottom: 50px;
        padding-left: 30px;
    }
}

@media (max-width: 340px) {
    .main .content h2 span {
        font-size: 50px;
        font-weight: 600;
    }

    .contact .row .card {
        background: #fff;
        width: 258px;
        margin: 20px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        border-radius: 10px;
    }

    .about__column-select {
        max-width: 60%;
        width: 100%;
        height: 17%;
        margin-top: -160px;
    }

}

@media (max-width: 320px) {
    .main__content-h2 span {
        font-size: 45px;
        font-weight: 600;
    }

    .animated-text h3 {
        color: crimson;
        font-size: 38px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1px;
    }

    .media-icons a {
        font-size: 25px;
    }

    .about__column-img_card {
        position: relative;
        width: 100%;
        min-height: 300px;
    }

    .about__column-img_card-img {
        margin-bottom: 20px;
    }

    .about__column-select {
        margin-top: -30px;
        max-width: 45%;
        width: 100%;
        padding: 0;
        height: 30%;
    }

    .about__column-select_text {
        font-size: 10px;
    }

    .about__column-select_namePhoto {
        font-size: 10px;
        margin-top: 1px;
        margin-bottom: 1px;
        line-height: 12px;
        color: #fff;
    }

    .contact .row .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact .card .info h3 {
        text-align: center;
    }

    #instagram,
    #telegram,
    #github,
    #facebook {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

}

.scrollToTop-btn {
    z-index: 666;
    position: fixed;
    background: crimson;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
}

.scrollToTop-btn.active {
    right: 20px;
    opacity: 1;

}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.3s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.web-site {
    cursor: pointer;
}