@import url(../style/fonts.css);

/*  */

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.services__cheaf-box {
  text-align: center;
}

.services__content {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.services__content-card {
  width: calc(100% / 3);
  background: #fff;
  padding: 35px;
  text-align: center;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
}

.services__cheaf-text {
  font-size: 18px;
  line-height: 21px;
  font-family: 'RR';
  color: #000000;
}

.services__card-icon {
  color: crimson;
  font-size: 120px;
  text-align: center;
  transition: transform .5s ease;
}

.services__card-icon:hover {
  transform: translateY(-10px);
}

.services__info-title {
  color: crimson;
  font-size: 20px;
  line-height: 21px;
  font-family: 'RB';
  margin-top: 10px;
  margin-bottom: 10px;
}

.services__info-text {
  font-size: 18px;
  line-height: 21px;
  font-family: 'RR';
  color: #000000;
  text-align: justify;
}

/* ******** Media ******** */

@media (max-width: 970px) {
  .services__content {
    flex-wrap: wrap;
    flex-direction: row;
		justify-content: center;
  }

  .services__content-card {
    margin-top: 20px;
		width: 47%;
  }
}
@media (max-width: 576px) {
  .services__content {
  }

  .services__content-card {
		width: 100%;
  }
}